<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1"/>
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<!--<rule name="WhiteList" enabled="false" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{URL}" pattern="^.*/(base|webshop|umbraco|umbraco_client|client|install|api|\.well-known)/" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern=".*localhost.*" ignoreCase="true" />
					</conditions>
					<action type="None" />
				</rule>-->

				<rule name="SEO - Remove trailing slash" stopProcessing="false">
					<match url="^_?(.*)/$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="_{R:1}" />
				</rule>

				<rule name="SEO - ToLower" stopProcessing="false">
					<match url="^_?(.*)" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{R:1}" pattern="[A-Z]" ignoreCase="false" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{R:1}" pattern="^.*?\.(axd|css|js|jpg|jpeg|png|gif|ashx|asmx|svc).*?$" ignoreCase="true" negate="true" />
					</conditions>
					<action type="Rewrite" url="_{ToLower:{R:1}}" />
				</rule>

				<rule name="SEO - remove default.aspx" stopProcessing="false">
					<match url="^_?(.*?)/?default\.aspx$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="_{R:1}" />
				</rule>

				<rule name="SEO - Trim aspx" stopProcessing="false">
					<match url="^_?(.*)\.aspx$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="Rewrite" url="_{R:1}" />
				</rule>
				
				<rule name="remove url-prefix" stopProcessing="false">
					<match url="^_+(.*)" />
					<serverVariables>
						<set name="RESPONSE_Cache-Control" value="NO-CACHE" replace="true" />
					</serverVariables>
					<action type="Rewrite" url="{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="Redirect - Subdomains with www to non-www" stopProcessing="false">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="^www\.(.*)\.([^\.]+)\.([^\.]+?)$" />
					</conditions>
					<serverVariables>
						<set name="RESPONSE_Cache-Control" value="NO-CACHE" />
					</serverVariables>
					<action type="Rewrite" url="_{C:1}.{C:2}.{C:3}/{R:1}" />
				</rule>

				<rule name="Redirect - Top domains with non-www to www" stopProcessing="false">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
						<add input="{HTTP_HOST}" pattern="^([^\.]+)\.([^\.]+?)$" />
					</conditions>
					<serverVariables>
						<set name="RESPONSE_Cache-Control" value="NO-CACHE" />
					</serverVariables>
					<action type="Rewrite" url="_www.{HTTP_HOST}/{R:1}" />
				</rule>
				
				<rule name="remove host-prefix" stopProcessing="false">
					<match url="^_?(.*)" />
					<conditions trackAllCaptures="true" logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^_+(.*)$" />
					</conditions>
					<action type="Rewrite" url="{C:1}/{R:1}" redirectType="Permanent" />
				</rule>

				<!-- Set "enabled" to "true" when using HTTPS -->
				<rule name="HTTP to HTTPS redirect" stopProcessing="true" enabled="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
				</rule>

				


			</rules>
			<!--<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
				<preConditions>
					<preCondition name="old url with 301">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
						<add input="{RESPONSE_STATUS}" pattern="^301$" />
					</preCondition>
				</preConditions>
			</outboundRules>-->
			<rewriteMaps>
				<rewriteMap name="MapProtocol" defaultValue="OFF">
					<add key="ON" value="https://" />
					<add key="OFF" value="http://" />
				</rewriteMap>
			</rewriteMaps>
		</rewrite>
	</system.webServer>
</configuration>